p {
	font-family: 'JetBrains Mono', monospace;
	color: #e5e5e5;
	font-size: xxx-large;
}

/* #main_text {
	display: flex;
	justify-content: center;
}

#main_text::after {
	content: 'Lorem';
	color: orange;
	position: absolute;
	top: 50%;
	margin-left: 10vw;
} */

.title {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80vw;
	height: 40vh;
	background-color: rebeccapurple;
}
